{{>layout/header}}
<div class="topcontent-form">
    <h1> 자주 묻는 질문 </h1>
    <p> 찾으시는 내용이 없다면 고객센터를 방문해주시길 바랍니다</p>
</div>

<div class="board-btns-wrapper">
    <div class="board-wrapper-row">
        <div class="board-btns">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            {{#userName}}
                Logged in as : <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
            {{/userName}}
        </div>
    </div>
</div>

<div class="middle-flex-form">
    <div class="middle-content-form">
        <div class="middle-content-form-right">
            <div class="right-img-box">
                <img class="email_img" src={email_img} width="50px" height="50px"></img>
            </div>
            <div class="right-text-box">
                <h3> 이메일 문의하기</h3>
                <p> 찾으시는 답변이 없으신가요 ? </p>
            </div>
            <div class="right-btn-box">
                <button class="send-btn" id="email-btn"}>
                E-mail 보내기{' '}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="subcontent-form">
    <div class="maincontent-form">
        <br>
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시글 번호</th>
                <th>제목</th>
                <th>작성자</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
    </div>
</div>

{{>layout/footer}}
